<!doctype html>
<html lang='en'>

   <head>
      <title>Nightlife Coordination Project</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta lang='en' />
      <meta name='theme-color' content='#222222'>
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
   <link href="styles/main+4RfQl.css" rel="stylesheet"></head>

   <body>
      <noscript style='
    		background: #ffd338;
    		border-top: 2px solid #202020;
    	  border-bottom: 2px solid #202020;
    	  color: #202020;
    	  font-size: 125%;
    	  font-weight: 800;
    	  font-family: sans-serif;
    	  left: 0;
    	  padding: 2px;
    	  position: absolute;
    	  text-align: center;
    	  text-shadow: none;
    	  top: 0;
    	  width: 100%;
    	  z-index: 10;'>Please enable JavaScript. This site will not function properly without it.
      </noscript>
      <div id='app' />

   <script type="text/javascript" src="js/client.bundle.js"></script></body>

</html>
